<!-- /templates/article.liquid -->


{% comment %}RETIRED{% endcomment %}
<div class="collection section-header">
  <h1><a href="/blogs/retired-patterns">Retired /</a> <a href="/blogs/retired-patterns/tagged/{{article.tags | first | handleize}}">{{ article.tags }}</a> / {{article.title}}</h1>
</div>

<div class="retired-pattern table" >
  <div class="table-cell">{% if article.image %}<img src="{{ article | img_url: 'medium' }}">{% endif %}</div>
    <div class="table-cell">{{ article.content }}</div>

</div>
